* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(243, 243, 243, 0.623);
}

.container {
  padding: 0 40px;
}

/* HEADER SECTION */
.header {
  width: 100%;
  height: 400px;
  padding-bottom: 10px;
  background-color: #000;
}

.header img {
  width: 100%;
  height: 100%;
}

.header-content {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #fff;
}

.prolouge {
  font-family: Coustard;
  font-size: 22px;
  line-height: 37px;
  padding: 20px 30px;
  padding-right: 60px;
  text-align: justify;
}

video {
  width: 100%;
  border: none;
  outline: none;
  padding-top: 20px;
}

/* HEADER SECTION MEDIA QUERY */
@media(max-width: 1400px){
  .prolouge{
    font-size: 20px;
    line-height: 35px;
  }
}

@media(max-width: 1300px){
  .prolouge{
    font-size: 20px;
    line-height: 35px;
  }
}

@media(max-width: 1165px){
  .prolouge{
    font-size: 20px;
    line-height: 25px;
  }
}

@media(max-width: 991px){
  .header-content{
    display: block;
  }

   .prolouge{
    font-size: 20px;
    line-height: 35px;
  }

  video{
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}

@media(max-width: 847px){
  .header{
    height: 300px;
  }

  .header-content{
    display: block;
    margin: 0 auto;
  }

  .prolouge{
    display: block;
  }

  video{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}

@media(max-width: 645px){
  .header{
    height: 250px;
  }

  .prolouge{
    font-size: 16px;
    line-height: 25px;
  }

  video{ 
    width: 100%;
  }
}

@media(max-width: 505px){
  .header{
    height: 200px;
  }

  .prolouge{
    font-size: 12px;
  }

  video{
    width: 100%;
  }
}


/* CONTENT SECTION */
.content {
  text-align: center;
  padding: 30px 0;
  
}
section{
    width: 100%;
}


.content h1 {
  font-size: 40px;
  color: rgb(97, 96, 96);
  font-family: Roboto Slab;
  margin-bottom: 30px;
}

.actors {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 30px;
  padding: 0 50px;
  text-align: center;
  
}

.actor-content {
  display: none;
  background-color: rgba(46, 47, 48, 0.959);
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
}

.display-actor-info {
  display: flex;
  width: 60%;
  height: 70vh; 
  z-index: 2;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 15vh;
  border-radius: 5px;
}

.display-actor-info .close {
  position: absolute;
  top: 20px;
  right: 100px;
  font-size: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: none;
  border: none;
  color: rgb(240, 4, 4);
  outline: none;
  cursor: pointer;
}

.actor-name {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: PT Sans Caption;
}

.actor-detail {
  padding-bottom: 30px;
}

.actor-detail img {
  background-size: cover;
  height: 95%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 7px 7px 10px rgb(202, 195, 195);
}

.actor-detail:hover {
  box-shadow: 7px 7px 10px rgb(202, 195, 195);
  transform: scale(1.01);
  box-shadow: 7px 7px 10px rgb(202, 195, 195);
}

.actor-detail:hover > img {
  box-shadow: none;
}

.actor-detail:focus {
  border-radius: 5px;
}

.actor-img {
  width: 50%;
}

.actor-img img{
  height: 100%;
  width: 100%;
  display: cover;
}

.actor-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  line-height: 100px;
  font-size: 25px;
  font-family: changa;
  text-align: left;
  padding: 0 40px;
}

/* CONTENT SECTION MEDIA QUERY */
@media(max-width: 1112px){
  .actor-info p{
    font-size: 20px;
  }
}

@media(max-width: 991px){
  .display-actor-info{
    display: block;
    width: 300px;
    border-radius: 5px;
  }

  .actor-info p{
    line-height: 30px;
    font-size: 20px;
    padding-left: 0;
    text-align: center;
  }

  .actor-img{
    display: block;
    width: 100%;
    border-radius: 5px;
  }
}

@media(max-width: 729px){
  .actor-detail{
    width: 70%;
    margin: 0 auto;
    height:100%;
  }

  .close{
    top: 0px;
  }
}


@media(max-width: 499px){
  .actor-detail img{
    width: 100%;
    height: 90%;
    margin: 0 auto;
  }
} 

/* FOOTER SECTION */
footer{
  height: 300px;
  background-color: rgba(211, 211, 211, 0.459);
  padding: 40px 0px;
}

footer img{
  height: 100px;
}

.icons{
  text-align: center;
}

.icons i{
  display: inline-block;
  margin:0 40px;
  margin-top: 40px;
  cursor: pointer;
}

.icons a{
  color: white;
  text-decoration: none;
}

.icons a:first-child{
  color:  #3b5998;
}

.icons a:nth-child(2){
  color: #f09433;
}

.icons a:nth-child(3){
  color:#00acee;
}

.icons a:last-child{
  color:#db3236
}

.foot-img img{
  width: 350px;
  height: 200px;
  background-color: #000;
}

.foot-note{
  text-align: center;
  margin-top: 50px;
}

.foot-note a{
  text-decoration: none;
  color: #775837;
}

.foot-note p{
  font-size: 16px;  
  text-align: center;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* FOOTER SECTION MEDIA QUERY */
@media(max-width: 600px){
  .icons i{
    margin:0 20px;
    margin-top: 40px;
  }
} 

@media(max-width: 400px){
  .icons i{
    margin:0 10px;
    margin-top: 40px;
  }
} 
