* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* section{
    text-align: center;
} */

.container {
  padding: 0 40px;
}

.header {
  width: 100%;
  height: 400px;
  padding-bottom: 10px;
  background-color: #000;
}

.header img {
  width: 100%;
  height: 100%;
}

.header-content {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 30px;
  background-color: #fff;
  justify-content: center;
}


.prolouge {
  font-family: Coustard;
  font-size: 15px;
  line-height: 35px;
  padding: 20px 0px;
}

video {
  width: 100%;
  border: none;
  outline: none;
  padding-top: 20px;
  /* padding-right: 40px; */
}

.content {
  text-align: center;
  padding: 30px 0;
  
}
section{
    width: 100%;
}


.content h1 {
  font-size: 40px;
  color: rgb(97, 96, 96);
  font-family: Roboto Slab;
  /* text-align: center; */
}

.actors {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 30px;
  padding: 0 50px;
  text-align: center;
  
}

.actor-content {
  display: none;
  /* margin: 0 auto; */
  background-color: rgba(46, 47, 48, 0.959);
  /* filter: blur(3px); */
  /* background-image: url(../img/stars-bcg.jpg); */
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
}

.display-actor-info {
  display: flex;
  /* grid-template-columns: 50%; */
  width: 60%;
  height: 70vh;
  z-index: 2;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 15vh;
  border-radius: 5px;
}

.display-actor-info .close {
  position: absolute;
  top: 20px;
  right: 100px;
  font-size: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: none;
  border: none;
  color: rgb(240, 4, 4);
  outline: none;
  cursor: pointer;
}

.actor-name {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: PT Sans Caption;
}

.actor-detail {
  padding: 30px 0;
  height: 400px;
}

.actor-detail img {
  background-size: cover;
  height: 100%;
  /* height: 350px; */
  width: 100%;
  border-radius: 5px;
  box-shadow: 7px 7px 10px rgb(202, 195, 195);
  margin-bottom: 10px;
}

.actor-detail:hover {
  box-shadow: 7px 7px 10px rgb(202, 195, 195);
  transform: scale(1.01);
  box-shadow: 7px 7px 10px rgb(202, 195, 195);
}

.actor-detail:hover > img {
  box-shadow: none;
}

.actor-detail:focus {
  border-radius: 5px;
  /* transform: scale(0.95); */
}

.actor-img {
  width: 50%;
  padding-right: 20px;
}

.actor-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.actor-info {
  /* color: #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  line-height: 100px;
  font-size: 25px;
  font-family: changa;
  text-align: left;
}
